---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  published={new Date("2024-11-04")}
  hero="/blog-placeholder-about.jpg"
>
  <p>
    I’m Christopher Dierkens, a software developer with over a decade of
    experience, currently specializing in TypeScript, JavaScript, and functional
    programming. I’m passionate about building scalable applications using
    modern technologies, with a strong focus on Test-Driven Development (TDD)
    and CI/CD processes to ensure efficient, high-quality releases.
  </p>

  <p>
    At Thangs.com, I collaborated on backend solutions for search, building
    full-text and autocomplete APIs with MongoDB Atlas that the UI team
    integrated. I also worked with teammates to implement semantic search using
    Pinecone and MongoDB as vector stores, making the Thangs chatbot more
    context-aware for users exploring a vast 3D model library.
  </p>

  <p>
    I thrive in environments where I can continuously learn and explore new
    ideas. I'm passionate about digging into complex problems and envisioning
    innovative solutions that can shape a better future. My inquisitive nature
    drives me to gather insights and connections, making me excited about
    contributing creatively and strategically to software projects.
  </p>
</Layout>
