---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import { isPublishedBlog } from "../components/blog.lib";
import BlogList from "../components/BlogList.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Html from "../components/Html.astro";
import Main from "../components/Main.astro";
import SocialLinks from "../components/SocialLinks.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const years = new Date().getFullYear() - new Date("2017-05-01").getFullYear();

const collection = await getCollection("blog");
const now = new Date();
const blogs = collection
  .filter((blog) => isPublishedBlog(blog, now))
  .sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf())
  .slice(0);
---

<!doctype html>
<Html>
  <head>
    <BaseHead title={`Home | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Main>
      <header>
        <h1>👋 I'm Chris</h1>
        <p>
          I'm a software engineer with over 15 years of experience, more than {
            years
          } years in senior roles.
        </p>
      </header>
      <hr />

      <h2>Socials</h2>
      <SocialLinks />
      <hr />

      <section>
        <section>
          <h2>Recent Blog Posts</h2>
          <BlogList blogs={blogs} />

          <p>Read more on my <a href="/blog">blog.</a></p>
        </section>
      </section>
    </Main>
    <Footer />
  </Body>
</Html>
