---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import { isPublishedBlog } from "../components/blog.lib";
import BlogList from "../components/BlogList.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Html from "../components/Html.astro";
import Main from "../components/Main.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const years = new Date().getFullYear() - new Date("2017-05-01").getFullYear();

const collection = await getCollection("blog");
const now = new Date();
const blogs = collection
  .filter((blog) => isPublishedBlog(blog, now))
  .sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf());
---

<!doctype html>
<Html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Main>
      <header>
        <h1>👋 I'm Chris</h1>
        <p>
          I'm a software engeneer with over {years} years experience in senior roles.
        </p>
      </header>

      <hr />

      <section>
        <section>
          <h2>Blog</h2>
          <BlogList blogs={blogs} />
        </section>
      </section>
    </Main>
    <Footer />
  </Body>
</Html>
