---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  posts: CollectionEntry<"blog">[];
};

const { posts } = Astro.props;
---

<ol>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>
          <h3 class="mb-0">{post.data.title}</h3>
          <p class="mt-0">
            <FormattedDate date={post.data.pubDate} />
          </p>
        </a>
      </li>
    ))
  }
</ol>
