---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { isPublishedBlog } from "./blog.lib";

type Props = {
  blogs: CollectionEntry<"blog">[];
};

const now = new Date();
const blogs = Astro.props.blogs.filter((blog) => isPublishedBlog(blog, now));
---

<ol>
  {
    blogs.map((blog) => (
      <li>
        <a href={`/blog/${blog.slug}/`}>
          <h3 class="mb-0">{blog.data.title}</h3>
          <p class="flex justify-between mb-2">
            <span>
              {blog.data.updated ? (
                <FormattedDate date={blog.data.updated} />
              ) : (
                <FormattedDate date={blog.data.published} />
              )}
            </span>

            {blog
              .render()
              .then((result) => result.remarkPluginFrontmatter.readingTime)}
          </p>
        </a>
      </li>
    ))
  }
</ol>
